/.mixin.out
/.persistent
/.vscode
/config/ars_nouveau/search_index
/config/jei
/crash-reports
/data
/defaultconfigs
/downloads
/fancymenu_data
/journeymap
/kiwipacks
/local
/logs
/patchouli_books
/resourcepacks
/saves
/screenshots
/waypoints

win_event*

*.toml.bak
*-client.toml
*-client.yaml
*-client.json
*-client.snbt

.curseclient
command_history.txt
minecraftinstance.json
patchouli_data.json
user-prefs.json
usercache.json
usernamecache.json

/config/bettercombat/client.json5
/config/combat_roll/client.json5
/config/iris.properties
/config/packetfixer.properties
/config/fabric/indigo-renderer.properties
/config/sodium-fingerprint.json
/config/sodium-options.json

# FTB Quests Lang Splitter
# ignore original lang files like en_us.snbt
config/ftbquests/quests/lang/*.snbt

# ignore recovery files
config/ftbquests/quests/lang/recovery/*.snbt

# ignore already merged files
config/ftbquests/quests/lang/**/*.snbt_merged
