/.mixin.out
/.persistent
/.vscode
/crash-reports
/data
/defaultconfigs
/downloads
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
/fancymenu_data
/journeymap
/kiwipacks
/local
/logs
/patchouli_books
/resourcepacks
/saves
/screenshots
/waypoints
/Distant_Horizons_server_data

win_event*

*.toml.bak
*-client.toml
*-client.yaml
*-client.json
*-client.snbt

.curseclient
command_history.txt
emi.json
minecraftinstance.json
options.txt
patchouli_data.json
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json
version.txt

/config/ars_nouveau/search_index
/config/bettercombat/client.json5
/config/combat_roll/client.json5
/config/DistantHorizons.toml
/config/iris.properties
/config/jei
/config/packetfixer.properties
/config/fabric/indigo-renderer.properties
/config/sodium-fingerprint.json
/config/sodium-options.json
/config/structurify/structurify_backup_*.json
/config/MapTooltip/cache

/shaderpacks/*.zip.txt

# FTB Quests Lang Splitter
# ignore original lang files like en_us.snbt
config/ftbquests/quests/lang/*.snbt

# ignore recovery files
config/ftbquests/quests/lang/recovery/*.snbt

# ignore already merged files
config/ftbquests/quests/lang/**/*.snbt_merged
